In [2]:
import pandas as pd
from elasticsearch import Elasticsearch

In [44]:
names_sheet1 = pd.read_excel ("C:/Users/csh1/Desktop/NEW/names.xlsx" ,'Sheet1')
names_sheet2 = pd.read_excel ("C:/Users/csh1/Desktop/NEW/names.xlsx" ,'Sheet2')
names_sheet3 = pd.read_excel ("C:/Users/csh1/Desktop/NEW/names.xlsx" ,'Sheet3')

In [45]:
names = pd.concat([names_sheet1 , names_sheet2 , names_sheet3  ])

In [46]:
names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2649750 entries, 0 to 552599
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   Party_ID        object
 1   Source_country  object
 2   Orgnization     object
 3   Role            object
 4   Sequence        int64
 5   Language        object
 6   FirstName       object
 7   SecondName      object
 8   ThirdName       object
 9   LastName        object
 10  FullName        object
dtypes: int64(1), object(10)
memory usage: 242.6+ MB

In [47]:
names.head()

,Party_ID,Source_country,Orgnization,Role,Sequence,Language,FirstName,SecondName,ThirdName,LastName,FullName
0,A8VKJ4-C,JO,PLC,AH,0,AR,NaN,جمال,خليل,NaN,جمال خليل
1,BASSAM-C,JO,PLC,AH,0,AR,زياد,صابر,هويمل,السليحات,زياد صابر هويمل السليحات
2,CV5MJH-C,JO,PLC,AH,0,AR,دانا,محمد خضر,عبد العزيز,الوليدات,دانا محمد خضر عبد العزيز الوليدات
3,C9L3HT-C,JO,PLC,AH,0,AR,رضا,فرح,فتحي,الدغداشي,رضا فرح فتحي الدغداشي
4,C9L3KC-C,JO,PLC,AH,0,AR,عبد الرحمن,صالح,احمد,الهواري,عبد الرحمن صالح احمد الهواري

In [48]:
names.sample(10)

,Party_ID,Source_country,Orgnization,Role,Sequence,Language,FirstName,SecondName,ThirdName,LastName,FullName
764122,D4G45R-C,JO,PLC,AH,0,AR,NaN,محمد,كامل,حرزالله,محمد كامل حرزالله
34141,D7AU2P-C,JO,PLC,AH,0,EN,NaN,AWADH,NaN,SULAIMAN,AWADH SULAIMAN
398149,DO50IR-C,JO,PLC,AH,0,AR,روان,ابراهيم,NaN,منصور,روان ابراهيم منصور
916887,DUMMS8-C,JO,PLC,AH,0,EN,NaN,OMAR,ODEH,SANGKHA-INDRA,OMAR ODEH SANGKHA-INDRA
720722,D1OUD5-C,JO,PLC,AH,0,AR,NaN,ابراهيم,NaN,NaN,ابراهيم
361033,FKCGQF-C,JO,PLC,AH,0,EN,MOHAMMAD,MOHAMMAD,NaN,NaN,MOHAMMAD MOHAMMAD
52677,E410LM-C,JO,PLC,AH,0,AR,NaN,سليمان,محمود,NaN,سليمان محمود
299098,DM2RF3-C,JO,PLC,AH,0,AR,رسمي,محمدرجب,محمد,NaN,رسمي محمدرجب محمد
145051,EHTEDM-C,JO,PLC,AH,0,EN,BASEM,KHALIL,YOUSEF,AHMAD,BASEM KHALIL YOUSEF AHMAD
611322,DTOS25-C,JO,PLC,AH,0,AR,محمد,احمد,محمود,ابوغزاله,محمد احمد محمود ابوغزاله

In [49]:
names['Organization'] = names['Orgnization']
del names['Orgnization']

In [50]:
names['FirstName'] = names.FirstName.str.strip()
names['SecondName'] = names.SecondName.str.strip()
names['ThirdName'] = names.ThirdName.str.strip()
names['LastName'] = names.LastName.str.strip()
names['FullName'] = names.FullName.str.strip()

In [51]:
names['Language'].value_counts()

EN    1324875
AR    1324875
Name: Language, dtype: int64

In [52]:
names.columns

Index(['Party_ID', 'Source_country', 'Role', 'Sequence', 'Language',
       'FirstName', 'SecondName', 'ThirdName', 'LastName', 'FullName',
       'Organization'],
      dtype='object')

In [53]:
names_ar = names[names['Language']== "AR"]
names_en = names[names["Language"]=="EN"]
del names_ar ['Language']
del names_en ['Language']

In [54]:
names_ar = names_ar.rename(columns={'FirstName': 'FirstName_AR', 'SecondName': 'SecondName_AR', 'ThirdName': 'ThirdName_AR', 'LastName': 'LastName_AR' , 'FullName': 'FullName_AR' })
names_en = names_en.rename(columns={'FirstName': 'FirstName_EN', 'SecondName': 'SecondName_EN', 'ThirdName': 'ThirdName_EN', 'LastName': 'LastName_EN' , 'FullName': 'FullName_EN' })

In [55]:
new_names =pd.merge(
    names_ar,
    names_en, 
    how='left',
    left_on=['Party_ID', 'Source_country', 'Organization', 'Role', 'Sequence'],
    right_on=['Party_ID', 'Source_country', 'Organization', 'Role', 'Sequence']
    )

In [56]:
new_names['ShortName_ar']= new_names['FirstName_AR']
new_names['ShortName_en']= new_names['FirstName_EN']
new_names['MotherName_ar']=new_names['SecondName_AR']
new_names['MotherName_en']=new_names['SecondName_EN']

In [57]:
new_names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1324875 entries, 0 to 1324874
Data columns (total 19 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Party_ID        1324875 non-null  object
 1   Source_country  1324875 non-null  object
 2   Role            1324875 non-null  object
 3   Sequence        1324875 non-null  int64
 4   FirstName_AR    1001689 non-null  object
 5   SecondName_AR   997059 non-null   object
 6   ThirdName_AR    952254 non-null   object
 7   LastName_AR     1001481 non-null  object
 8   FullName_AR     1318824 non-null  object
 9   Organization    1324875 non-null  object
 10  FirstName_EN    977926 non-null   object
 11  SecondName_EN   929790 non-null   object
 12  ThirdName_EN    857694 non-null   object
 13  LastName_EN     977311 non-null   object
 14  FullName_EN     1314412 non-null  object
 15  ShortName_ar    1001689 non-null  object
 16  ShortName_en    977926 non-null   object
 17  MotherName_ar   997059 non-null   object
 18  MotherName_en   929790 non-null   object
dtypes: int64(1), object(18)
memory usage: 202.2+ MB

In [58]:
new_nmes_sample = new_names.head()

In [59]:
new_nmes_sample

,Party_ID,Source_country,Role,Sequence,FirstName_AR,SecondName_AR,ThirdName_AR,LastName_AR,FullName_AR,Organization,FirstName_EN,SecondName_EN,ThirdName_EN,LastName_EN,FullName_EN,ShortName_ar,ShortName_en,MotherName_ar,MotherName_en
0,A8VKJ4-C,JO,AH,0,NaN,جمال,خليل,NaN,جمال خليل,PLC,NaN,M,NaN,NaN,M,NaN,NaN,جمال,M
1,BASSAM-C,JO,AH,0,زياد,صابر,هويمل,السليحات,زياد صابر هويمل السليحات,PLC,DEYA ALDEEN,HANI,MAHMOUD,NaN,DEYA ALDEEN HANI MAHMOUD,زياد,DEYA ALDEEN,صابر,HANI
2,CV5MJH-C,JO,AH,0,دانا,محمد خضر,عبد العزيز,الوليدات,دانا محمد خضر عبد العزيز الوليدات,PLC,RAJA,NaN,YASEEN,NaN,RAJA YASEEN,دانا,RAJA,محمد خضر,NaN
3,C9L3HT-C,JO,AH,0,رضا,فرح,فتحي,الدغداشي,رضا فرح فتحي الدغداشي,PLC,AHMAD,ADNAN,NaN,NaN,AHMAD ADNAN,رضا,AHMAD,فرح,ADNAN
4,C9L3KC-C,JO,AH,0,عبد الرحمن,صالح,احمد,الهواري,عبد الرحمن صالح احمد الهواري,PLC,EMAD,NaN,ALI,ABUSBAITAN,EMAD ALI ABUSBAITAN,عبد الرحمن,EMAD,صالح,NaN

In [60]:
new_nmes_sample.to_csv("C:/Users/csh1/Desktop/final_data/new_nmes_sample.csv" , index= False)

In [61]:
new_names[new_names['Party_ID']=="D6BRDS-C"]

,Party_ID,Source_country,Role,Sequence,FirstName_AR,SecondName_AR,ThirdName_AR,LastName_AR,FullName_AR,Organization,FirstName_EN,SecondName_EN,ThirdName_EN,LastName_EN,FullName_EN,ShortName_ar,ShortName_en,MotherName_ar,MotherName_en
813410,D6BRDS-C,JO,AH,0,اسلا م,عبوده,احمد,NaN,اسلا م عبوده احمد,PLC,ATTALLA,MOHAMMAD ALI,M,ISKNDAR,ATTALLA MOHAMMAD ALI M ISKNDAR,اسلا م,ATTALLA,عبوده,MOHAMMAD ALI

In [11]:
Elasticsearch_URL = '10.101.15.31:9200'
Elasticsearch_username = 'elastic'
Elasticsearch_pass = 'abtest' 
es = Elasticsearch( 
                        hosts=[Elasticsearch_URL],
                        http_auth=(Elasticsearch_username, Elasticsearch_pass),
                       )

In [69]:
es.close()

In [72]:
new_names = new_names.fillna("")

for index , row in new_names.iterrows() :
    row = dict(row)
    es.index( index="names" , body=row )

print("Add All Data for names")

Add All Data for names

In [60]:
new_names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1324875 entries, 0 to 1324874
Data columns (total 15 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Party_ID        1324875 non-null  object
 1   Source_country  1324875 non-null  object
 2   Orgnization     1324875 non-null  object
 3   Role            1324875 non-null  object
 4   Sequence        1324875 non-null  int64
 5   FirstName_AR    1324875 non-null  object
 6   SecondName_AR   1324875 non-null  object
 7   ThirdName_AR    1324875 non-null  object
 8   LastName_AR     1324875 non-null  object
 9   FullName_AR     1324875 non-null  object
 10  FirstName_EN    1324875 non-null  object
 11  SecondName_EN   1324875 non-null  object
 12  ThirdName_EN    1324875 non-null  object
 13  LastName_EN     1324875 non-null  object
 14  FullName_EN     1324875 non-null  object
dtypes: int64(1), object(14)
memory usage: 194.0+ MB

In [39]:
# Get Setting File
query = dict()
query['query']={"match_all": {} } 
settings_file = es.search(index="index_settings" , body=query)
setting_list = list()
for row  in settings_file['hits']['hits'] : 
    row['_source']['Id']=row['_id']
    setting_list.append(row['_source'])
settings_file = pd.DataFrame(setting_list)

In [41]:
settings_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   value_type          10 non-null     object
 1   keys                10 non-null     object
 2   index               10 non-null     object
 3   language            10 non-null     object
 4   global_weight       10 non-null     int64
 5   search_type         10 non-null     object
 6   pre_processing      10 non-null     object
 7   field               10 non-null     object
 8   data_type           10 non-null     object
 9   local_weight        10 non-null     int64
 10  weight_calculation  10 non-null     object
 11  Id                  10 non-null     object
dtypes: int64(2), object(10)
memory usage: 1.1+ KB

In [40]:
settings_file.head()

,value_type,keys,index,language,global_weight,search_type,pre_processing,field,data_type,local_weight,weight_calculation,Id
0,single,TRUE,parties,en,0,deterministic,FALSE,Party_ID,str,0,TRUE,Iw_JD3oBevTOybT__SGF
1,single,FALSE,parties,en,0,deterministic,FALSE,Party_Type,str,0,TRUE,JA_JD3oBevTOybT__SGF
2,single,FALSE,parties,en,0,deterministic,FALSE,IsSearchable,str,0,TRUE,JQ_JD3oBevTOybT__SGF
3,single,FALSE,parties,en,0,deterministic,FALSE,Isdeleted,str,0,TRUE,Jg_JD3oBevTOybT__SGF
4,single,TRUE,nationalities,en,0,deterministic,FALSE,Party_ID,str,0,TRUE,Jw_JD3oBevTOybT__SGF

In [63]:
from collections import Counter
from math import sqrt

def word2vec(word):
    

    # count the characters in word
    cw = Counter(word)
    # precomputes a set of the different characters
    sw = set(cw)
    # precomputes the "length" of the word vector
    lw = sqrt(sum(c*c for c in cw.values()))

    # return a tuple
    return cw, sw, lw

def cosdis(v1, v2) :
    # which characters are common to the two words?
    common = v1[1].intersection(v2[1])
    # by definition of cosine distance we have
    return sum(v1[0][ch]*v2[0][ch] for ch in common)/v1[2]/v2[2]

In [106]:
_doc_1 = "majda"
_doc_2 = "magda"
v_doc_1 = word2vec(_doc_1)
v_doc_2 = word2vec(_doc_2)

scoure = cosdis(v_doc_1,v_doc_2)
if scoure < 85 and scoure > 60 : 
    scoure = scoure * 15/100
elif scoure > 100 : 
    scoure = 100 
scoure

0.8571428571428571

In [88]:
(0.75 * 10/100 )
(0.75 * 12/100 ) + 0.75

0.84

In [118]:
import datetime
datetime.datetime.now()

datetime.datetime(2021, 6, 28, 12, 59, 50, 646287)

In [121]:
pre_data = pd.read_excel ("C:/Users/csh1/Desktop/AB_Phonetics/static/files/pre_processing.xlsx")

In [122]:
pre_data.head()

  language character replae_to  Unnamed: 3
0       ar         إ         ا         NaN
1       ar         أ         ا         NaN
2       ar         آ         ا         NaN
3       ar         ة         ا         NaN
4       ar         ى         ا         NaN

In [123]:
pre_data.to_csv("C:/Users/csh1/Desktop/AB_Phonetics/static/files/pre_processing.csv" , index= False)

In [42]:

import json
import hashlib
word = {'Role': 'AH', 'Source_country': 'JOR', 'Organization': 'AB', 'Nationality': '', 'Sequence': '', 'Naional_Number': 9571024449, 'ID_Number': 9571024449}

word = '''{}'''.format(word)
word = word.replace(', ',',')
word = word.replace(' ,',',')
word = word.replace(': ',':')
word = word.strip()
print (type (word))
print(word)
#checksum = json.dumps(word).encode("utf-8")
#print(str (checksum))
checksum = hashlib.md5(word.encode()).hexdigest() 
checksum

<class 'str'>
{'Role':'AH','Source_country':'JOR','Organization':'AB','Nationality':'','Sequence':'','Naional_Number':9571024449,'ID_Number':9571024449}

'134a67233ac557f1c838ca726f21b351'

In [7]:
new_data = pd.read_excel ("C:/Users/csh1/Desktop/SRC_NAMES1.xlsx")

In [8]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2852 entries, 0 to 2851
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Party_ID        2852 non-null   object
 1   Source_country  2852 non-null   object
 2   Organization    2852 non-null   object
 3   Role            2852 non-null   object
 4   Sequence        2852 non-null   int64
 5   FirstName_EN    2648 non-null   object
 6   SecondName_EN   2608 non-null   object
 7   ThirdName_EN    2571 non-null   object
 8   LastName_EN     2636 non-null   object
 9   FullName_EN     100 non-null    object
 10  FirstName_AR    2852 non-null   object
 11  SecondName_AR   2852 non-null   object
 12  ThirdName_AR    2852 non-null   object
 13  LastName_AR     2852 non-null   object
 14  FullName_AR     2852 non-null   object
 15  ShortName_AR    0 non-null      float64
 16  ShortName_EN    0 non-null      float64
 17  MotherName_AR   0 non-null      float64
 18  MotherName_EN   0 non-null      float64
dtypes: float64(4), int64(1), object(14)
memory usage: 423.5+ KB

In [5]:
new_data['FirstName_EN'] = new_data.FirstName_EN.str.strip()
new_data['SecondName_EN'] = new_data.SecondName_EN.str.strip()
new_data['ThirdName_EN'] = new_data.ThirdName_EN.str.strip()
new_data['LastName_EN'] = new_data.LastName_EN.str.strip()
new_data['FullName_EN'] = new_data.FullName_EN.str.strip()

new_data['FirstName_AR'] = new_data.FirstName_AR.str.strip()
new_data['SecondName_AR'] = new_data.SecondName_AR.str.strip()
new_data['ThirdName_AR'] = new_data.ThirdName_AR.str.strip()
new_data['LastName_AR'] = new_data.LastName_AR.str.strip()
new_data['FullName_AR'] = new_data.FullName_AR.str.strip()

In [9]:
new_data = new_data.fillna("")
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2852 entries, 0 to 2851
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Party_ID        2852 non-null   object
 1   Source_country  2852 non-null   object
 2   Organization    2852 non-null   object
 3   Role            2852 non-null   object
 4   Sequence        2852 non-null   int64
 5   FirstName_EN    2852 non-null   object
 6   SecondName_EN   2852 non-null   object
 7   ThirdName_EN    2852 non-null   object
 8   LastName_EN     2852 non-null   object
 9   FullName_EN     2852 non-null   object
 10  FirstName_AR    2852 non-null   object
 11  SecondName_AR   2852 non-null   object
 12  ThirdName_AR    2852 non-null   object
 13  LastName_AR     2852 non-null   object
 14  FullName_AR     2852 non-null   object
 15  ShortName_AR    2852 non-null   object
 16  ShortName_EN    2852 non-null   object
 17  MotherName_AR   2852 non-null   object
 18  MotherName_EN   2852 non-null   object
dtypes: int64(1), object(18)
memory usage: 423.5+ KB

In [145]:

for index , row in new_data.iterrows() :
    row = dict(row)
    es.index( index="names" , body=row )

print("Add All Data for names")

KeyboardInterrupt:

In [20]:
# Python3 code to demonstrate working of
# Converting String to binary
# Using join() + ord() + format()

# initializing string
test_str = "GeeksforGeeks"

# printing original string
print("The original string is : " + str(test_str))

# using join() + ord() + format()
# Converting String to binary

res = list (''.join(format(ord(i), '08b') for i in test_str))

# printing result
print("The string after binary conversion : " + str(res))
print (list (res))
x = (format(ord(i), '08b') for i in test_str)

The original string is : GeeksforGeeks
The string after binary conversion : ['0', '1', '0', '0', '0', '1', '1', '1', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '1', '0', '1', '0', '1', '1', '0', '1', '1', '1', '0', '0', '1', '1', '0', '1', '1', '0', '0', '1', '1', '0', '0', '1', '1', '0', '1', '1', '1', '1', '0', '1', '1', '1', '0', '0', '1', '0', '0', '1', '0', '0', '0', '1', '1', '1', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '1', '0', '1', '0', '1', '1', '0', '1', '1', '1', '0', '0', '1', '1']
['0', '1', '0', '0', '0', '1', '1', '1', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '1', '0', '1', '0', '1', '1', '0', '1', '1', '1', '0', '0', '1', '1', '0', '1', '1', '0', '0', '1', '1', '0', '0', '1', '1', '0', '1', '1', '1', '1', '0', '1', '1', '1', '0', '0', '1', '0', '0', '1', '0', '0', '0', '1', '1', '1', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '1', '0', '1', '0', '1', '1', '0', '1', '1', '1', '0', '0', '1', '1']

In [144]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
word_one ="امير"
v1 = list (''.join(format(ord(i), '08b') for i in word_one ))
v1 =  np.array([int (i) for i in v1])
print ("v1 : ",v1 , len (v1))
v2 = list (''.join(format(ord(i), '08b') for i in  "ميرا" ))
v2 = np.array([int (i) for i in v2])
print ("v2 : ",v2 , len(v2))
print ( "inner : ", np.inner(v2, v1)  ) 
print("dot:", np.dot(v1, v2) )
print ("cosin : ", cosine_similarity([v1], [v2])[0][0] *100 )

v1 :  [1 1 0 0 0 1 0 0 1 1 1 1 1 0 0 1 0 0 0 1 0 1 1 1 0 0 1 0 0 1 0 1 0 1 1 0 0
 0 1 1 0 0 0 1] 44
v2 :  [1 1 0 0 1 0 0 0 1 0 1 1 1 0 0 1 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0 0 1 1 1 0 0
 0 1 0 0 1 1 1] 44
inner :  13
dot: 13
cosin :  61.90476190476192

In [134]:
count = 0 
for i in range (len(v1)) : 
    if v1[i] != v2 [i] : 
        count = count +1 
count / len (v1)

0.2727272727272727

In [194]:
from collections import Counter
from math import sqrt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity


field_one = "mohamad shawqi"
field_two = "ramadan"
def word2vec(word):

    # count the characters in word
    cw = Counter(word)
    # precomputes a set of the different characters
    sw = set(cw)
    # precomputes the "length" of the word vector
    lw = sqrt(sum(c*c for c in cw.values()))
    # return a tuple
    return cw, sw, lw

# v1 = list (''.join(format(ord(i), '08b') for i in field_one ))

# v2 = list (''.join(format(ord(i), '08b') for i in field_two ))
# v2 = v2 + ['3']* (len (v1)-len -(v2) )
# print ( len (v1) , "---", len (v2)  )

v_doc_1 = word2vec(field_one)
v_doc_2 = word2vec(field_two)
def cosdis(v1, v2):
        # which characters are common to the two words?
        common = v1[1].intersection(v2[1])
        print (common)
        # by definition of cosine distance we have
        score = sum(v1[0][ch]*v2[0][ch] for ch in common)/v1[2]/v2[2]

        # if score <= 0.86 and  score > 0.60 : 
        #     score =score +  score * 12/100
        # elif score < 0.90 and   0.85 > score  :
        #     score = score * 0.7/100
        # if  score >= 1  : 
        #     score = 1

        score = score * 100 
        return  score 
        

from scipy import spatial
List1 = [4, 47, 8, 3]
List2 = [3, 52, 12, 16]
#result = 1 - spatial.distance.cosine(v_doc_1, v_doc_2)
#print(result)


print (cosdis (v_doc_1 , v_doc_2 ))

{'a', 'm', 'd'}
67.93662204867576

In [225]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()
field_one ="SALEM".lower()
field_two = "ahmad"
similar ( field_one ,field_two)

0.4

In [183]:
print (v2)

['0', '1', '1', '1', '0', '0', '1', '0', '0', '1', '1', '0', '0', '0', '0', '1', '0', '1', '1', '0', '1', '1', '0', '1', '0', '1', '1', '0', '0', '0', '0', '1', '0', '1', '1', '0', '0', '1', '0', '0', '0', '1', '1', '0', '0', '0', '0', '1', '0', '1', '1', '0', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']

In [157]:
from sklearn.feature_extraction.text import CountVectorizer
# list of text documents
text = ["The quick brown fox jumped over the lazy dog."]
# create the transform
vectorizer = CountVectorizer()
# tokenize and build vocab
vectorizer.fit(text)
# summarize
print(vectorizer.vocabulary_)
# encode document
vector = vectorizer.transform(text)
# summarize encoded vector
print(vector.shape)
print(type(vector))
print(vector.toarray())

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}
(1, 8)
<class 'scipy.sparse.csr.csr_matrix'>
[[1 1 1 1 1 1 1 2]]

In [148]:



import pandas as pd 

new_file = pd.read_excel("C:/Appspro/phonetics/final_data/pre_processing.xls")
new_file.to_csv("C:/Appspro/phonetics/final_data/pre_processing.csv", index =False)

In [222]:
40 * 30/100

12.0

In [224]:
from sklearn.metrics import jaccard_score
A = [1, 1, 1, 0]
B = [1, 1, 0, 1]
jacc = jaccard_score(A,B)
print('Jaccard similarity: %.3f' % jacc)

Jaccard similarity: 0.500

In [226]:
import string
s = "string. With. Punctuation?" # Sample string 
out = s.translate(string.maketrans("",""), string.punctuation)

AttributeError: module 'string' has no attribute 'maketrans'