In [2]:
import pandas as pd
from elasticsearch import Elasticsearch

In [3]:
partiescountry_sheet1 = pd.read_excel ("C:/Users/csh1/Desktop/NEW/partiescountry.xlsx" ,'Sheet1')
partiescountry_sheet2 = pd.read_excel ("C:/Users/csh1/Desktop/NEW/partiescountry.xlsx" ,'Sheet2')
partiescountry_sheet3 = pd.read_excel ("C:/Users/csh1/Desktop/NEW/partiescountry.xlsx" ,'Sheet3')

In [4]:
partiescountry = pd.concat([partiescountry_sheet1 , partiescountry_sheet2, partiescountry_sheet3])

In [5]:
partiescountry.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2649750 entries, 0 to 552599
Data columns (total 8 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Party_ID                 object
 1   Source_country           object
 2   Orgnization              object
 3   Role                     object
 4   Sequence                 int64
 5   Date_of_birth            int64
 6   country_of_origin        float64
 7   Country_of_Incoporation  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 181.9+ MB

In [6]:
partiescountry.head()

,Party_ID,Source_country,Orgnization,Role,Sequence,Date_of_birth,country_of_origin,Country_of_Incoporation
0,A8VKJ4-C,JO,PLC,AH,0,870722,NaN,NaN
1,BASSAM-C,JO,PLC,AH,0,621224,NaN,NaN
2,CV5MJH-C,JO,PLC,AH,0,760115,NaN,NaN
3,C9L3HT-C,JO,PLC,AH,0,0,NaN,NaN
4,C9L3KC-C,JO,PLC,AH,0,0,NaN,NaN

In [7]:
partiescountry.to_csv("C:/Users/csh1/Desktop/final_data/parties_country.csv" , index= False)